header 
  .header
    .left-header
      //- logo
      a(href='/')
        img(src="./img/logo.png" alt="" class='lozad')
      //- search form
      .input-search
        input(type="text" name="" class='search' placeholder="Tìm kiếm...")
        button(type="submit") 
          <i class="fa-light fa-magnifying-glass"></i>
      //- Mobile menu overlay
    .right-header
      a.btn-open-topup.pay(href="#popup-topup" data-fancybox)
        //- icon
        <i class="fa-light fa-money-simple-from-bracket"></i>
        //- text
        p nạp tiền 
      a(href="/upload.html").upload
        //- icon
        <i class="fa-light fa-upload"></i>
        //- text
        p tải lên
      a(href="/").register 
        //- icon
        <i class="fa-regular fa-user"></i>
        //- text
        p đăng ký 
      a(href="/").login 
        //- icon
        <i class="fa-regular fa-right-to-bracket"></i>
        //- text
        p đăng nhập 
      include ./HeaderHambuger
    //- header mobile with input search
    .mobile-menu
      .mobile-menu-content
        .mobile-search
          input(type="text" placeholder="Tìm kiếm..." class="search-input")
          button
            i.fa-regular.fa-magnifying-glass
        //- Menu links (có thể tái sử dụng nav hiện tại)
        ul.mobile-nav
          li.dropdown
            span.dropdown-toggle
              | Kỹ thuật – Công nghệ
              i.fa-regular.fa-chevron-down
            ul.dropdown-menu
              li: a(href="#") Kiến thức nền tảng
              li: a(href="#") Khoa học ứng dụng
              li: a(href="#") Kỹ thuật đại cương
          li.dropdown
            span.dropdown-toggle
              | Tin tức
              i.fa-regular.fa-chevron-down
            ul.dropdown-menu
              li: a(href="#") Tin công nghệ
              li: a(href="#") Kinh tế số
          li
            a(href="/").flex.gap-5.py-3.pay
              //- text
              p nạp tiền  
              //- icon
              <i class="fa-regular fa-money-simple-from-bracket"></i>
          li
            a(href="/").flex.gap-5.py-3.upload
              //- text
              p tải lên
              //- icon
              <i class="fa-regular fa-upload"></i>
  //- dropdown mega menu
  nav.navbar-header
    ul
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
  //- navbar menu mobile
  .header-nav-bottom 
    a(href="")
      <i class="fa-regular fa-home"></i>
      span Home
    a(href="")
      <i class="fa-regular fa-upload"></i>
      span upload
    button.btn-open-topup(type="button")
      <i class="fa-regular fa-money-simple-from-bracket"></i>
      span Nap tien 
    a(href="")
      <i class="fa-regular fa-user"></i>
      span User
  //- link contact us
  .contact-us 
    a(href='#body' class='scroll-up px-3 py-2 rounded-l-2')
      <i class="fa-regular fa-arrow-up"></i>
    .phone 
      <i class="fa-regular fa-phone"></i>
      span 0123456789
    .messages
      <i class="fa-light fa-messages"></i>
      span something@gmail.com
  //- Popup payment

#popup-topup.hidden(class='popup-topup')
  .topup-modal
    h2.title Nạp tiền
    .topup-body
      .topup-left
        .topup-section
          h3.subtitle Chọn gói nạp
          .topup-packages
            label.topup-package-item.active
              input(type="radio" name="package" value="100000" checked)
              span 100.000 VNĐ
            label.topup-package-item
              input(type="radio" name="package" value="200000")
              span 200.000 VNĐ
            label.topup-package-item
              input(type="radio" name="package" value="300000")
              span 300.000 VNĐ
            label.topup-package-item
              input(type="radio" name="package" value="400000")
              span 400.000 VNĐ
            label.topup-package-item
              input(type="radio" name="package" value="500000")
              span 500.000 VNĐ
            label.topup-package-item
              input(type="radio" name="package" value="1000000")
              span 1.000.000 VNĐ

          .topup-other
            input(type="number" placeholder="Nhập số tiền khác" )

        .topup-section
          h3.subtitle Chọn phương thức thanh toán
          .topup-methods
            label.topup-method.active
              input(type="radio" name="method" value="momo" checked)
              img.icon(src="/img/Momo.png", alt="Momo")
              span Thanh toán qua ví Momo
            label.topup-method
              input(type="radio" name="method" value="vnpay")
              img.icon(src="/img/vnpay.png", alt="VNPay")
              span Thanh toán qua ví VNPay

      .topup-right
        .payment-info
          h3.subtitle Thông tin thanh toán
          ul
            li
              span.label Tên dịch vụ
              span.value Nạp tiền
            li
              span.label Thành tiền
              span.value.text-primary.font-semibold 100.000 VNĐ
          button.btn-primary Thanh toán


