header 
  .header
    .left-header
      //- logo
      a(href='/')
        img(src="./img/logo.png" alt="" class='lozad')
      //- search form
      .input-search
        input(type="text" name="" class='search' placeholder="Tìm kiếm...")
        button(type="submit") 
          <i class="fa-light fa-magnifying-glass"></i>
      //- Mobile menu overlay
    .right-header
      button(type="button").pay.btn-open-topup
        //- icon
        <i class="fa-light fa-money-simple-from-bracket"></i>
        //- text
        p nạp tiền 
      a(href="/").upload
        //- icon
        <i class="fa-light fa-upload"></i>
        //- text
        p tải lên
      a(href="/").register 
        //- icon
        <i class="fa-regular fa-user"></i>
        //- text
        p đăng ký 
      a(href="/").login 
        //- icon
        <i class="fa-regular fa-right-to-bracket"></i>
        //- text
        p đăng nhập 
      include ./HeaderHambuger
    //- header mobile with input search
    .mobile-menu
      .mobile-menu-content
        .mobile-search
          input(type="text" placeholder="Tìm kiếm..." class="search-input")
          button
            i.fa-regular.fa-magnifying-glass
        //- Menu links (có thể tái sử dụng nav hiện tại)
        ul.mobile-nav
          li.dropdown
            span.dropdown-toggle
              | Kỹ thuật – Công nghệ
              i.fa-regular.fa-chevron-down
            ul.dropdown-menu
              li: a(href="#") Kiến thức nền tảng
              li: a(href="#") Khoa học ứng dụng
              li: a(href="#") Kỹ thuật đại cương
          li.dropdown
            span.dropdown-toggle
              | Tin tức
              i.fa-regular.fa-chevron-down
            ul.dropdown-menu
              li: a(href="#") Tin công nghệ
              li: a(href="#") Kinh tế số
          li
            a(href="/").flex.gap-5.py-3.pay
              //- text
              p nạp tiền  
              //- icon
              <i class="fa-regular fa-money-simple-from-bracket"></i>
          li
            a(href="/").flex.gap-5.py-3.upload
              //- text
              p tải lên
              //- icon
              <i class="fa-regular fa-upload"></i>
  //- dropdown mega menu
  nav.navbar-header
    ul
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
  //- navbar menu mobile
  .header-nav-bottom 
    a(href="")
      <i class="fa-regular fa-home"></i>
      span Home
    a(href="")
      <i class="fa-regular fa-upload"></i>
      span upload
    button.btn-open-topup(type="button")
      <i class="fa-regular fa-money-simple-from-bracket"></i>
      span Nap tien 
    a(href="")
      <i class="fa-regular fa-user"></i>
      span User
  //- link contact us
  .contact-us 
    a(href='#body' class='scroll-up px-3 py-2 rounded-l-2')
      <i class="fa-regular fa-arrow-up"></i>
    .phone 
      <i class="fa-regular fa-phone"></i>
      span 0123456789
    .messages
      <i class="fa-light fa-messages"></i>
      span something@gmail.com
  //- Popup payment

//- Popup nạp tiền (BEM style without underscores)
.section-popup-topup.hidden
  .popup-topup

    button.popup-topup-close(type="button") ×

    // LEFT
    .popup-topup-left
      h2.popup-topup-title Nạp tiền

      // Gói nạp
      .popup-topup-package
        label.popup-topup-label Chọn gói nạp
        .popup-topup-package-list
          each item, index in ['100,000 VNĐ','200,000 VNĐ','300,000 VNĐ','500,000 VNĐ']
            label.popup-topup-package-item
              input.popup-topup-package-radio(type="radio" name="amount" value=item checked=(index === 0))
              span.popup-topup-package-value #{item}

        label.popup-topup-label.mt-4 Nhập số tiền khác
        input.popup-topup-package-input(type="text" placeholder="Ví dụ: 150,000 VNĐ")

      // Phương thức thanh toán
      .popup-topup-payment
        label.popup-topup-label Chọn phương thức thanh toán
        .popup-topup-payment-list
          label.popup-topup-payment-item.active
            input.popup-topup-payment-radio(type="radio" name="method" value="momo" checked)
            .popup-topup-payment-info
              img.popup-topup-payment-icon(src="/img/momo.png" alt="momo")
              span.popup-topup-payment-name Thanh toán qua MoMo
          label.popup-topup-payment-item
            input.popup-topup-payment-radio(type="radio" name="method" value="vnpay")
            .popup-topup-payment-info
              img.popup-topup-payment-icon(src="/img/vnpay.png" alt="vnpay")
              span.popup-topup-payment-name Thanh toán qua VNPAY

    // RIGHT
    .popup-topup-right
      .popup-topup-info
        h3.popup-topup-subtitle Thông tin thanh toán
        ul.popup-topup-info-list
          li.popup-topup-info-item
            span Tên dịch vụ:
            span Nạp tiền
          li.popup-topup-info-item
            span Thành tiền:
            span 100,000 VNĐ
      .popup-topup-actions
        p.popup-topup-note * Số tiền nạp tối thiểu là 10,000 VNĐ
        a(href='/finishpay.html').popup-topup-btn Thanh toán
