header 
  .header
    .left-header
      //- logo
      div
        img(src="/img/logo.png", alt="" class='lozad')
      //- search form
      .input-search
        input(type="text" name="" class='search' placeholder="Tìm kiếm...")
        button(type="submit") 
          <i class="fa-regular fa-magnifying-glass"></i>

    //- item right pay, upload, login , register
    .right-header
      .pay
        //- icon
        <i class="fa-regular fa-money-simple-from-bracket"></i>
        //- text
        p nạp tiền 
      .upload
        //- icon
        <i class="fa-regular fa-upload"></i>
        //- text
        p tải lên
      .register 
        //- icon
        <i class="fa-regular fa-user"></i>
        //- text
        p đăng ký 
      .login 
        //- icon
        <i class="fa-regular fa-right-to-bracket"></i>
        //- text
        p đăng nhập 
  //- bottom nav
  nav.navbar-header
    ul
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
