header 
  .header
    .left-header
      //- logo
      div
        img(src="/img/logo.png" alt="" class='lozad')
      //- search form
      .input-search
        input(type="text" name="" class='search' placeholder="Tìm kiếm...")
        button(type="submit") 
          <i class="fa-light fa-magnifying-glass"></i>
      //- Mobile menu overlay
    .right-header
      .pay
        //- icon
        <i class="fa-light fa-money-simple-from-bracket"></i>
        //- text
        p nạp tiền 
      .upload
        //- icon
        <i class="fa-light fa-upload"></i>
        //- text
        p tải lên
      .register 
        //- icon
        <i class="fa-regular fa-user"></i>
        //- text
        p đăng ký 
      .login 
        //- icon
        <i class="fa-regular fa-right-to-bracket"></i>
        //- text
        p đăng nhập 
      span(class='lg:hidden block text-primary-3 text-30 px-3 py-1')
        <i class="fa-regular fa-magnifying-glass"></i>
      include ./HeaderHambuger
    .mobile-menu
      .mobile-menu-content
        .mobile-search
          input(type="text" placeholder="Tìm kiếm..." class="search-input")
          button
            i.fa-regular.fa-magnifying-glass
        //- Menu links (có thể tái sử dụng nav hiện tại)
        ul.mobile-nav
          li.dropdown
            span.dropdown-toggle
              | Kỹ thuật – Công nghệ
              i.fa-regular.fa-chevron-down
            ul.dropdown-menu
              li: a(href="#") Kiến thức nền tảng
              li: a(href="#") Khoa học ứng dụng
              li: a(href="#") Kỹ thuật đại cương
          li.dropdown
            span.dropdown-toggle
              | Tin tức
              i.fa-regular.fa-chevron-down
            ul.dropdown-menu
              li: a(href="#") Tin công nghệ
              li: a(href="#") Kinh tế số
          li
            .flex.gap-5.py-3.pay
              //- text
              p nạp tiền  
              //- icon
              <i class="fa-regular fa-money-simple-from-bracket"></i>
          li
            .flex.gap-5.py-3.upload
              //- text
              p tải lên
              //- icon
              <i class="fa-regular fa-upload"></i>
  //- bottom nav
  nav.navbar-header
    ul
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương'],['Kiến thức nền tảng kỹ thuật', 'Khoa học tự nhiên ứng dụng', 'Kỹ thuật đại cương','Kỹ thuật đại cương']])
      li.list.group
        span Kỹ thuật – Công nghệ 
        //- drop down menu 
        .mega-menu
          +colMegaMenu([['something','something','something','something'],['something','something','something','something'],['something','something','something','something'],['something','something','something','something']])

  .header-nav-bottom 
    a(href="")
      <i class="fa-regular fa-home"></i>
      span Home
    a(href="")
      <i class="fa-regular fa-upload"></i>
      span upload
    a(href="")
      <i class="fa-regular fa-money-simple-from-bracket"></i>
      span Nap tien 
    a(href="")
      <i class="fa-regular fa-user"></i>
      span User

  .contact-us 
    a(href='#body' class='scroll-up px-3 py-2 rounded-l-2')
      <i class="fa-regular fa-arrow-up"></i>
    .phone 
      <i class="fa-regular fa-phone"></i>
      span 0123456789
    .messages
      <i class="fa-light fa-messages"></i>
      span something@gmail.com
