section(class='section-py container-bg')
  div(class=' bg-primary-1 bg-opacity-[5%] rounded-8 body-18')
    .container.section-py
      .title-section-2
        h1 Tài liệu chọn lọc
        .navigation-docx
          .navigation-prev
            <i class="fa-regular fa-chevron-left"></i>
          span.page-count 1
          .navigation-next
            <i class="fa-regular fa-chevron-right"></i>
      .list-product 
        each item in ['pdf','docx',]
          -for(let i =1 ;i<16;i++)
            +itemProductDocx(item)
