section.section-py.container
  .title-section-2
    h1 Tài liệu mới cập nhật
    +btnViewAll()
  .list-product.swiper.swiper-col
    .swiper-wrapper.col-span-full  
      +column('Kỹ thuật – Công nghệ', 'heading-green', 'card-green')
      +column('Kinh tế – Quản trị', 'heading-orange', 'card-orange')
      +column('Khoa học – Xã hội', 'heading-blue', 'card-blue')
      +column('Kỹ thuật – Công nghệ', 'heading-green', 'card-green')
      +column('Kinh tế – Quản trị', 'heading-orange', 'card-orange')
      +column('Khoa học – Xã hội', 'heading-blue', 'card-blue')