section.section-py
  div(class='container flex xl:gap-20 gap-base xl:flex-row flex-col')
    div(class='xl:w-5/12 w-full')
      div(class="rounded-6 bg-[linear-gradient(135deg,#00A887_0%,#07BD9A_45%,#00624E_100%)] p-12 flex flex-col divide-y-2 divide-white/20 gap-6 text-white")
        h2.text-h2 Duis voluptate et sit voluptate dolor cupidatat 
        .flex.flex-col.gap-6.py-6
          -for(let i =1 ; i <3 ; i++)
            ul.flex.flex-col.gap-1.text-h4 Website:
              li.list-disc.list-inside.text-base https://docx247.com
        .flex.flex-col.gap-4.pt-6
          h4(class='text-h4 uppercase') theo doi: 
          .social-media
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
    div(class='flex flex-col gap-6 xl:w-7/12 w-full')
      .flex.flex-col.gap-4 
        h1(class='text-h1') Laboris elit dolore aliquip magna.
        p Nulla duis consequat incididunt esse cupidatat non Lorem anim culpa. Aute occaecat dolore elit exercitation labore pariatur incididunt sint Lorem cupidatat culpa sint id. 
      form(action="" class='grid grid-cols-2 gap-4')
        input(type="text" placeholder='something' class='border border-gray-500 py-3 px-7 rounded-full')
        input(type="text" placeholder='something' class='border border-gray-500 py-3 px-7 rounded-full')
        input(type="text" placeholder='something' class='border border-gray-500 py-3 px-7 rounded-full')
        input(type="text" placeholder='something' class='border border-gray-500 py-3 px-7 rounded-full')
        textarea(name="" class='col-span-full' placeholder='something' class='border border-gray-500 py-3 px-7 rounded-2 xl:rem:h-[230px]')
        .flex.col-span-full
          button(type="submit" class='px-4 py-3 bg-primary-3 rounded-1 text-white text-center capitalize -lg:flex-1' ) gui di