section.introduce
  .left-content
    .big-circle
    .small-circle
    .text-content
      include ../../../global/Breadcrumb/Breadcrumb
      h1.text-h1
        | Cung cấp trải nghiệm số mượt mà
  div(class='rem:w-[45%] ') 
    div(class='rounded-bl-10 img-ratio ratio:pt-[580_860] md:block hidden ')
      +PugImg()(class='object-cover ')
