extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/modules/introduce/introduce-1/introduce-1
	include ../components/modules/introduce/introduce-2/introduce-2
	include ../components/modules/introduce/introduce-3/introduce-3
	include ../components/modules/introduce/introduce-4/introduce-4
	include ../components/modules/introduce/introduce-5/introduce-5