section.section-py.container.flex.gap-base.flex-col
  .title-header
    h1 Sứ mệnh – Tầm nhìn – Triết lý hoạt động
  -for(let i = 0; i < 3; i++)
    .item-intro-3
      div(class='img-ratio ratio:pt-[380_680] intro-img rounded-6 transition-all')
        +PugImg()(class='w-full h-full object-cover hover:scale-115 transition-all')
      .title-content-intro-3.text-start
        h2 Ea in incididunt laboris reprehenderit proident 
        -for(let i = 1; i <= 3; i++)
          li(class='list-disc list-inside') Anim velit esse irure do labore. Ex consequat duis ut officia adipisicing. 