section.section-py.container.flex.gap-10.flex-col
  .title-header
    h1 Sứ mệnh – Tầm nhìn – Triết lý hoạt động
  -for(let i = 0; i < 3; i++)
    .item-intro-3
      div(class='img-ratio ratio:pt-[380_680] intro-img rounded-6')
        +PugImg()(class='w-full h-full object-cover')
      .title-content.text-start
        h3 Ea in incididunt laboris reprehenderit proident elit excepteur dolor reprehenderit nulla consectetur eu veniam culpa.
        p Anim velit esse irure do labore. Ex consequat duis ut officia adipisicing. Consequat culpa amet magna sunt Lorem sint aliquip elit qui labore ex qui deserunt. Enim ex et nostrud velit.