section(class="section-py bg-primary-1 bg-opacity-[5%] policy-cicle")
  .container.flex.gap-10.flex-col.text-center
    h1 Non veniam veniam nulla eiusmod mollit.
    div(class='flex lg:flex-row flex-col gap-10 justify-around')
      - for( let i =1 ; i < 4 ; i++ )
        div(class="policy-item relative aspect-square flex flex-col items-center justify-center text-center bg-white rounded-full shadow-md transition-all duration-500 ")
          img(src="./img/Frame_1.svg" alt="icon" class="aspect-square lozad mb-4 relative z-10" )
          h3(class="text-base font-semibold text-gray-800 mb-2 relative z-10") Chính sách bản quyền
          p(class="w-3/4 text-sm text-gray-500 leading-snug relative z-10") Bảo vệ quyền tác giả, xử lý vi phạm trong vòng 7 ngày
