footer 
  .content-footer 
    .logo 
      img(src="./img/logo.png" alt="" class='lozad')
    div(class='lg:-ml-[7%] m-0')
      strong Thông tin liên lạc
      span Website: https://docx247.com
      span Website: https://docx247.com
      .social-media
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-instagram"></i>
    div
      strong Liên kết nhanh
      a(href="/introduce.html") Giới thiệu về DocX247.com
      a(href="") Dành cho người bán
      a(href="/shopList.html") Dành cho người mua
      a(href="") Thông báo
      a(href="") Câu hỏi thường gặp
    div
      strong Liên kết nhanh
      a(href="") Giới thiệu về DocX247.com
      a(href="") Dành cho người bán
      a(href="") Dành cho người mua
      a(href="") Thông báo
      a(href="") Câu hỏi thường gặp
  .bottom-footer 
    p © 2018 DocX247.com. All Rights Reserved.