block var
	const plugins = '../../../../plugins'
block mixin
	include ../../components/mixin.pug
doctype html

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="./css/core.min.css")
		link(rel="stylesheet" href="./css/main.min.css")
		title #{title}
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js")
	//- script( src="https://code.jquery.com/jquery-3.7.1.min.js")
	//- script(src="https://cdn.jsdelivr.net/npm/tabslet@1.7.0/jquery.tabslet.min.js")
	body(class=bodyClass id='body')
		block header
			include ../../components/global/header/header.pug
		block banner
		main
			block main
		block footer
			include ../../components/global/footer/footer.pug
		script(src="./js/core.min.js")
		script(src="./js/main.min.js")
