section(class='section-py xl:px-[160px] px-4')
  div(class=' bg-[#0249D70D] rounded-8 body-18')
    .container.section-py
      .title-section-2
        h1 Tài liệu được quan tâm nhiều nhất trong tuần
        .navigation-docx(class='-sm:navigation-hidden')
          .navigation-prev
            <i class="fa-regular fa-chevron-left"></i>
          span.page-count 1
          .navigation-next
            <i class="fa-regular fa-chevron-right"></i>
      .list-product 
        each item in ['pdf','docx','pdf','docx','pdf','docx','pdf','docx','pdf','docx','pdf','docx','pdf','docx','pdf','docx','pdf','docx','pdf','docx','pdf','docx','pdf','docx']
          +itemProductDocx(item)
      .navigation-home-4
          .navigation-prev
            <i class="fa-regular fa-chevron-left"></i>
          span.page-count 1
          .navigation-next
            <i class="fa-regular fa-chevron-right"></i>