section.introduce
  .left-content
    .big-circle
    .small-circle
    .text-content
      include ../../../global/Breadcrumb/Breadcrumb
      h1
        | Cung cấp trải nghiệm số mượt mà
  div(class='lg:rem:w-[45%] w-full lg:h-full -md:rem:h-[300px]') 
    div(class='lg:rounded-bl-10 img-ratio ratio:pt-[580_860] ')
      +PugImg()(class='object-cover ')
