section.introduce
  .left-content
    // Vòng tròn nét đứt
    .big-circle
    .small-circle
    // Nội dung
    .text-content
      div
        <i class="fa-solid fa-house"></i> | Giới thiệu
      h1
        | Cung cấp trải nghiệm số mượt mà
  div(class='rounded-bl-6 col-span-5 img-ratio ratio:pt-[600_680] md:block hidden')
    +PugImg()(class='object-cover')
