section.section-py.container.grid.grid-cols-2.gap-base
  div(class='img-ratio ratio:pt-[380_680] lg:block hidden overflow-hidden rounded-6')
    +PugImg()(class='hover:scale-115')
  .flex.flex-col.gap-2.justify-center(class='lg:col-span-1 col-span-full lg:items-start items-center')
    <i class="fa-solid fa-circle-check text-primary-3 text-64"></i>
    h1(class='text-32 text-primary-2 capitalize') nap tien thanh cong
    ul(class='flex flex-col text-lg items-center lg:items-start justify-center')
      li Dolore consectetur velit ullamco incididunt excepteur
      li Nostrud id commodo mollit excepteur ea et aliquip 
      li Website:
        a(href='/' class='text-primary-1') https://docx247.com
      li Website: 
        a(href='/' class='text-primary-1') https://docx247.com
    button(type="button" class='bg-primary-3 rounded-2 text-white p-2 lg:w-[60%] uppercase px-4') QUAY VỀ TRANG CHỦ