section.section-py.container.grid.grid-cols-2.gap-base
  div(class='img-ratio ratio:pt-[380_680] md:col-span-1 col-span-2')
    +PugImg()(class='rounded-6')
  .flex.flex-col.gap-2.justify-center(class='md:col-span-1 col-span-2 md:items-start items-stretch')
    <i class="fa-solid fa-circle-check text-primary-3 text-64"></i>
    h1(class='text-32 text-primary-2 capitalize') nap tien thanh cong
    .flex.flex-col.gap-2.text-lg
      p Dolore consectetur velit ullamco incididunt excepteur
      p Nostrud id commodo mollit excepteur ea et aliquip 
      p Website:
        a(href='/' class='text-primary-1') https://docx247.com
      p Website: 
        a(href='/' class='text-primary-1') https://docx247.com
    button(type="button" class='bg-primary-3 rounded-2 text-white p-2 w-[60%]') tro ve trang chu